*{
    box-sizing: border-box;
}



#header { 
    padding: 5px 5vw;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    min-height: 70px;
}

#com-img { 
    width: 40%;
}

h1 { 
    font-size: 28px;
    margin: 10px auto;
}
.my-btn { 
    margin: 20px 0;
    border-radius: 5px;
    min-width: 30%;
    display: block;

    min-height: 30px;
    background: #2977c9;
}

.btn-primary { 
  background: #2977c9;
}

.google-text-input { 
    display: block;
    margin-top: 5px;
    min-width: 30%;
    padding: 0 10px;
    border-radius: 4px;
    border:2px solid rgba(0,0,0,0.15);
    min-height: 40px;
    
}


#footer{
    width: 100vw;
    min-height: 80px;
    color:#e4e4e4;
    justify-content: space-around;
}

#footer-label { 
    flex: 1;
    padding: 30px 0;
    text-align: center;
}

#footer-links { 
  justify-content: space-around;
    margin-top: 15px;
    text-align: left;
}


.site-footer a{ 
  display: inline-block;
  flex: 1;
}

#footer-links ul li{
    list-style-type: none;
    line-height: 30px;
}

ul { 
  padding: 5px 0 0 0;
  margin: 0;
}

ul li { 
  list-style-type: none;
}

#footer-label h5{ 
    margin-bottom: 0;
}

.navbar-logo{ 
    display: inline-block;
    width: 50%;
}

.navbar-links { 
    display: inline-block;
    width: 50%;
    color:white;
    text-align: right;
}

#footer-links ul { 
    padding: 0;
}

#add-template{ 
  margin: 20px 0;
}

#add-template form{ 
  padding: 10px;
  border: 1px solid rgb(187, 187, 187);
  margin: 10px 0;
  border-radius: 10px;
}

main {
    padding-top: 50px;
    min-height: 80vh;
}

.domain-input { 
  width: 65%;
}

.domain-check-button {
  width: 25%;
}

@media screen and (min-width: 900px) {
  
    .google-text-input {
        margin: 5px 0;
    }

    main {
        padding-top: 50px;
    }
  }

  .site-footer {
  position: absolute;
    width: 100%;
  justify-content: space-around;
  background-color:#26272b;
  padding: 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}

.mycheck { 
  margin-bottom: 0 !important;
}


.domain-example { 
  margin: 20px 16px;
}

.payment button { 
  width: 10%;
  margin: 0 1%;
}

.check-button { 
  margin-left: 20px;
}


.form-row { 
  margin-top: 10px;
}
.form-check-input { 
  width: 36px;
  height: 36px;
  margin-top: -18px;
}

.no-padding { 
  padding: 0 10vw !important;
}

.col-auto { 
  min-width: 200px;
}

.col-auto div{ 
   width: 400px;
}

.check-domain { 
margin: 20px 0;
}

@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}

.asdd { 
  width: 400px;
}

#inputPassword2 { 
  width: 400px;
}



@media (max-width:767px) { 
  .exp-cont { 
    padding-left: 0;
    padding-right: 0;
  }
  .asdd { 
    flex: 5;
    width: 170px;
   }
   #inputPassword2 { 
    width: 100%;
  }

.check-button { 
    margin-left: 10px;
}

.col-auto input{ 
  width: auto;
}

.domain-example { 
  margin:20px 0; 
}

.payment button { 
  width: 40%;
}

.payment { 
  text-align: right;
}


.form-row { 
  margin-top: 10px;
}
.form-check-input { 
  width: 36px;
  height: 36px;
  margin-top: -18px;
}

.check-domain { 
margin: 20px 0;
}

label { 
  font-weight: 600;
}
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}


.text-center button { 
    min-height: 50px;
    width: 30%;
    margin-left: 35%;
    border-radius: 2px;
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}


.controlers button { 
  border-radius: 5px !important;
}

button { 
  border-radius: 28px !important;
}


.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}


.mo bile-footer{
  display: none;
}


.form-group .exp-label  span {
  float: right;
 }

 #add-template form { 
   max-width: 700px;
 }


 .scene {
  position: relative;
  width: 240px;
  height: 60vh;
  margin: 0 auto;
  perspective: 1000px;
}

.carousel-options {
  margin-top: 20px;
  text-align: center;
  position: relative;
  z-index: 2;
}

embed { 
  max-height: 50vh;
}


.carousel-options p button { 
  margin:10px;
  min-width: 100px;
}

#show-next { 
    font-weight: 900;
    width: 20%;
    position: fixed;
    bottom: 10%;
    margin-left: 40%;
    border: 3px solid black;
    background: #ef3636!important;
    min-height: 60px;
}


@media (max-width:767px)
{
  #show-next { 
    font-weight: 900;
    width: 40%;
    position: fixed;
    bottom: 10%;
    margin-left: 30%;
    border: 3px solid black;
    background: #ef3636!important;
    min-height: 50px;
}
   .carousel-options p button {
    margin: 5px;
    max-width: 80px;
    min-width: 0;
  }
  

  .epxer-main { 
    margin-top: 75px !important;
  }

  .site-footer { 
    font-size: 3vh;
    line-height: 4.5vh;
  }

  .exp-body { 
    width: 100%;
  }

  embed { 
    max-height: 30vh;
  }

  .domain-cont { 
    margin-top: 30px;
  }  


.form-inline { 
  align-items: stretch;
  justify-content: space-around;
}

.form-inline button { 
  border-radius: 8px;
  flex: 1;
  font-size: 14px;
}

  .scene {
    perspective: 320px;
  }


  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }

  .mobile-footer{ 
    display: block;
  }  
   .text-center button { 
     min-height: 30px;
    width: 80%;
    margin: 10px 10%;
    font-weight: 600;
  }
  h1 { 
    padding: 0 13px;
    font-size: 20px;
    margin: 10px auto;
}
   main {
 padding: 4px 28px 0px 28px;
        min-height: 80vh;
        margin: 10vh 0;
   }

   footer { 
     width: 100vw;
      height: 10vh;
      position: fixed;
      bottom: 0;
   }

   .exp-label { 
     width: 100%;
     padding: 0 20px;
   }

   
   #header { 
    width: 100vw;
    position: fixed;
    top: 0;
      height: 10vh;
       max-height: 60px;
       z-index: 10000000;
   }

   #exampleModalLong { 
      z-index: 10000001;
   }
   #com-img { 
       width: 80%;
       margin: 10px 0 0 0;
   }

   .sing-controls{
     margin-top: 10px;
   }

   .no-mobile{
     
   display: none;
   }

   .footer-label{
     padding: 12px 0;
     text-align: center;
     flex:1;
     color:white;
   }

   .footer-link { 
    color:white;
    padding: 2px 10px;
    text-align: right;
   }
   .site-footer { 
     padding: 0;
   }

   .footer-link div { 
     text-align: center;
     padding: 10px 0;
     display: inline-block;
     width: 45%;
   }

   .footer-link a { 
    color: rgb(237, 237, 237);
   }
}


.fa-plus:hover{
  cursor: pointer;
}

/* carousel */

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(-288px);
  transform-style: preserve-3d;
  transition: transform 1s;
}

.carousel__cell {
  position: absolute;
  width: 230px;
  height: 60vh;
  left: 10px;
  top: 10px;
  border: 2px solid black;
  line-height: 116px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  transition: transform 1s, opacity 1s;
}


.carousel-label span{ 
  BACKGROUND: #272121;
}

.carousel-label { 
  position: fixed;
  height: auto;
  width: 100%;
  text-align: center;
  bottom: 0;
}
.carousel__cell:nth-child(9n+1) { background: url(../accets/img/1.JPG); background-size:100% 100%;}
.carousel__cell:nth-child(9n+2) { background: url(../accets/img/2.JPG); background-size:100% 100%;}
.carousel__cell:nth-child(9n+3) { background: url(../accets/img/3.JPG); background-size:100% 100%;}
.carousel__cell:nth-child(9n+4) { background: url(../accets/img/4.JPG); background-size:100% 100%;}
.carousel__cell:nth-child(9n+5) { background: url(../accets/img/5.JPG); background-size:100% 100%;}
.carousel__cell:nth-child(9n+6) { background: url(../accets/img/6.JPG); background-size:100% 100%;}

.carousel__cell:nth-child(1) { transform: rotateY(  0deg) translateZ(288px); }
.carousel__cell:nth-child(2) { transform: rotateY( 40deg) translateZ(288px); }
.carousel__cell:nth-child(3) { transform: rotateY( 80deg) translateZ(288px); }
.carousel__cell:nth-child(4) { transform: rotateY(120deg) translateZ(288px); }
.carousel__cell:nth-child(5) { transform: rotateY(160deg) translateZ(288px); }
.carousel__cell:nth-child(6) { transform: rotateY(200deg) translateZ(288px); }
.carousel__cell:nth-child(7) { transform: rotateY(240deg) translateZ(288px); }
.carousel__cell:nth-child(8) { transform: rotateY(280deg) translateZ(288px); }
.carousel__cell:nth-child(9) { transform: rotateY(320deg) translateZ(288px); }


.p-4 { 
  padding: 10px 1.5rem 2px 1.5rem !important;
}

#navbarToggleExternalContent a { 
  font-size: 1rem;
}


.cl-white { 
  color:white;
}


.exp-body{ 
  width: 80%;
  margin-left:10%;
}

.button { 
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #ffffff;
  color: #ffffff !important;
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    height: 3.025em;
    line-height: 3.025em;
    padding: 0 3em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

.banner { 
  font-size: 2em;
  padding: 6em 3em 4em 3em;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  background: url(../accets/img/pic01.jpg);
  background-color: #4a4a4a;
  
    color: #ffffff;
    display: block;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-weight: 300;
}

.content { 
  width: 100%;
  display: flex;
  align-items: center;
  border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: inherit;
    text-align: center;
    letter-spacing: 0.05em;
    color: #6e6e6e;
    padding: 4em 4em 2em 4em;
}

.inner { 
  width: 100%;
  text-align: center;
  box-sizing: inherit;
}

.image{
  height: 40em;
  max-height: 50vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
}

.wrapper {
  padding: 3em 2em 1em 2em;
  position: relative;
}
.inner h2 { 
  color:#5e5e5e;
}

h2{ 
  font-size: 1.5em !important;
}

.inner p{ 
  margin: 0 0 2em 0;
}

.button {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  height: 3.025em;
  line-height: 3.025em;
  padding: 0 3em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.actions .button { 
  color: grey !important;
  border: 1px solid gray;
} 

.grid-icons { 
  border-width: 0px;
    border-top-width: 1px;
    border-top: 1px solid #e3e3e3;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    border-color: #e3e3e3;
}

section h1 { 
  transition-delay: 0.35s;
    font-size: 1.35em;
    opacity: 1;
    text-align: center;
    color: #5e5e5e;
    font-weight: 300;
    line-height: 1.5;
    margin: 0 0 0.7em 0;
}

section img { 
  text-align: center;
}


ul.grid-icons li:nth-child(2n - 1) {
  border-left-width: 0;
}

ul.grid-icons li:nth-child(1), ul.grid-icons li:nth-child(2) {
  border-top-width: 0;
}

ul.grid-icons li {
  border-color: #e3e3e3;
}

ul.grid-icons li {
  text-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  border-style: solid;
  border-width: 0;
  border-left-width: 1px;
  border-top-width: 1px;
  min-height: 13em;
  padding: 0;
  text-align: center;
  width: 50%; 
}

.inner h3 { 
  font-size: 1em;
    font-weight: 600;
    margin: 0;
}

ul.faces {
   
  list-style: none;
  margin: 0 0 2em 0;
    padding-left: 1em;
}

ul.faces li:first-child { 
  border-top-width: 0;
  margin-top: 0;
  padding-top: 0;
  border-color: #e3e3e3;
  flex: 1;
  border-style: solid;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
}

ul.faces li { 
  border-left-width: 0;
  border-top-width: 1px;
  margin-left: 0;
  padding-left: 0;
  margin-top: 3em;
  padding-top: 3em;
  flex: 1;
  border-style: solid;
  padding: 0;
}

ul.faces li .image img {
  border-radius: 100%;
}

#five { 
  text-align: center;
  font-weight: 100;
  font-weight: 100;
}

#five h2 { 
}

ul.faces li{
  margin: 0 0 20px 0;
  padding-bottom: 20px;
  border: 0;
  border-bottom: 1px solid #e3e3e3;
}

ul.faces li h3 {
  font-size: 1em;
  font-weight: 600;
}

ul.faces li > :last-child {
  margin-bottom: 0;
}

ul.faces li p {
  font-style: italic;
}

p {
  margin: 0 0 5em 0;
}


#footer {
  background-color: #f7f7f7;
  padding: 2em 2em 0.1em 2em;
  max-width: 100%;
  margin: 0 auto;
    text-align: center;
    width: 70em;
}

#footer .copyright {
  color: #cdcdcd;
  margin: 4em 0 2em 0;
}