*{
    box-sizing: border-box;
}



#header { 
    padding: 5px 5vw;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    min-height: 70px;
}

#com-img { 
    width: 40%;
}

h1 { 
    font-size: 28px;
    margin: 10px auto;
}
.my-btn { 
    margin: 20px 0;
    border-radius: 5px;
    min-width: 30%;
    display: block;

    min-height: 30px;
    background: #2977c9;
}

.btn-primary { 
  background: #2977c9;
}

.google-text-input { 
    display: block;
    margin-top: 5px;
    min-width: 30%;
    padding: 0 10px;
    border-radius: 4px;
    border:2px solid rgba(0,0,0,0.15);
    min-height: 40px;
    
}


#footer{
    width: 100vw;
    min-height: 80px;
    color:#e4e4e4;
    justify-content: space-around;
}

#footer-label { 
    flex: 1;
    padding: 30px 0;
    text-align: center;
}

#footer-links { 
  justify-content: space-around;
    margin-top: 15px;
    text-align: left;
}


.site-footer a{ 
  display: inline-block;
  flex: 1;
}

#footer-links ul li{
    list-style-type: none;
    line-height: 30px;
}

ul { 
  padding: 5px 0 0 0;
  margin: 0;
}

ul li { 
  list-style-type: none;
}

#footer-label h5{ 
    margin-bottom: 0;
}

.navbar-logo{ 
    display: inline-block;
    width: 50%;
}

.navbar-links { 
    display: inline-block;
    width: 50%;
    color:white;
    text-align: right;
}

#footer-links ul { 
    padding: 0;
}

#add-template{ 
  margin: 20px 0;
}

#add-template form{ 
  padding: 10px;
  border: 1px solid rgb(187, 187, 187);
  margin: 10px 0;
  border-radius: 10px;
}

main {
    padding-top: 50px;
    min-height: 80vh;
}

.domain-input { 
  width: 65%;
}

.domain-check-button {
  width: 25%;
}

@media screen and (min-width: 900px) {
    .google-text-input {
        margin: 5px 0;
    }

    main {
        padding-top: 50px;
    }
  }

  .site-footer {
  position: absolute;
    width: 100%;
  justify-content: space-around;
  background-color:#26272b;
  padding: 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}


.domain-example { 
  margin: 20px 16px;
}

.payment button { 
  width: 200px;
  margin: 0 16px;
}

.check-button { 
  margin-left: 20px;
}


.form-row { 
  margin-top: 10px;
}
.form-check-input { 
  width: 36px;
  height: 36px;
  margin-top: -18px;
}

.col-auto input{ 
   width: 400px;
}

.check-domain { 
margin: 20px 0;
}

@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}

.asdd { 
  width: 400px;
}

#inputPassword2 { 
  width: 400px;
}



@media (max-width:767px) { 
  .exp-cont { 
    padding-left: 0;
    padding-right: 0;
  }
  .main-nav { 
    margin-top: 25px;
  }
  .asdd { 
    flex: 5;
    width: 170px;
   }
   #inputPassword2 { 
    width: 100%;
  }

.check-button { 
    margin-left: 10px;
}

.col-auto input{ 
  width: auto;
}

.domain-example { 
  margin:20px 0; 
}

.payment button { 
  width: 100%;
  margin: 0;
}

.payment { 
  position: absolute; bottom: 10px; right: 10px; width: 100px;
}

.form-row { 
  margin-top: 10px;
}
.form-check-input { 
  width: 36px;
  height: 36px;
  margin-top: -18px;
}

.check-domain { 
margin: 20px 0;
}

label { 
  font-weight: 600;
}
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}


.text-center button { 
    min-height: 50px;
    width: 30%;
    margin-left: 35%;
    border-radius: 2px;
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}


.controlers button { 
  border-radius: 5px !important;
}

button { 
  border-radius: 28px !important;
}


.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}


.mo bile-footer{
  display: none;
}


.form-group .exp-label  span {
  float: right;
 }

 #add-template form { 
   max-width: 700px;
 }


 .scene {
  position: relative;
  width: 240px;
  height: 60vh;
  margin: 0 auto;
  perspective: 1000px;
}

.carousel-options {
  margin-top: 20px;
  text-align: center;
  position: relative;
  z-index: 2;
}


.carousel-options p button { 
  margin:10px;
  min-width: 100px;
}
@media (max-width:767px)
{


  .domain-cont { 
    margin-top: 30px;
  }  


.form-inline { 
  align-items: stretch;
  justify-content: space-around;
}

.form-inline button { 
  border-radius: 8px;
  flex: 1;
  font-size: 14px;
}

  .scene {
    perspective: 320px;
  }


  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }

  .mobile-footer{ 
    display: block;
  }  
   .text-center button { 
     min-height: 30px;
    width: 80%;
    margin: 15px 10%;
    font-weight: 600;
  }
  h1 { 
    padding: 0 13px;
    font-size: 20px;
    margin: 5px auto;
}
   main {
 padding: 4px 28px 0px 28px;
        min-height: 80vh;
        margin: 10vh 0;
   }

   footer { 
     width: 100vw;
      height: 10vh;
      position: fixed;
      bottom: 0;
   }

   .exp-label { 
     width: 100%;
     padding: 0 20px;
   }

   
   #header { 
    width: 100vw;
    position: fixed;
    top: 0;
       min-height: 10vh;
       z-index: 10000000;
   }

   #exampleModalLong { 
      z-index: 10000001;
   }
   #com-img { 
       width: 80%;
       margin: 10px 0 0 0;
   }

   .sing-controls{
     margin-top: 30px;
   }

   .no-mobile{
     
   display: none;
   }

   .footer-label{
     padding: 12px 0;
     text-align: center;
     flex:1;
     color:white;
   }

   .footer-link { 
    color:white;
    padding: 2px 10px;
    text-align: right;
   }
   .site-footer { 
     padding: 0;
   }

   .footer-link div { 
     text-align: center;
     padding: 10px 0;
     display: inline-block;
     width: 45%;
   }

   .footer-link a { 
    color: rgb(237, 237, 237);
   }
}


.fa-plus:hover{
  cursor: pointer;
}

/* carousel */

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(-288px);
  transform-style: preserve-3d;
  transition: transform 1s;
}

.carousel__cell {
  position: absolute;
  width: 230px;
  height: 60vh;
  left: 10px;
  top: 10px;
  border: 2px solid black;
  line-height: 116px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  transition: transform 1s, opacity 1s;
}

.carousel__cell:nth-child(9n+1) { background: hsla(  0, 100%, 50%, 0.8); }
.carousel__cell:nth-child(9n+2) { background: hsla( 40, 100%, 50%, 0.8); }
.carousel__cell:nth-child(9n+3) { background: hsla( 80, 100%, 50%, 0.8); }
.carousel__cell:nth-child(9n+4) { background: hsla(120, 100%, 50%, 0.8); }
.carousel__cell:nth-child(9n+5) { background: hsla(160, 100%, 50%, 0.8); }
.carousel__cell:nth-child(9n+6) { background: hsla(200, 100%, 50%, 0.8); }
.carousel__cell:nth-child(9n+7) { background: hsla(240, 100%, 50%, 0.8); }
.carousel__cell:nth-child(9n+8) { background: hsla(280, 100%, 50%, 0.8); }
.carousel__cell:nth-child(9n+0) { background: hsla(320, 100%, 50%, 0.8); }

.carousel__cell:nth-child(1) { transform: rotateY(  0deg) translateZ(288px); }
.carousel__cell:nth-child(2) { transform: rotateY( 40deg) translateZ(288px); }
.carousel__cell:nth-child(3) { transform: rotateY( 80deg) translateZ(288px); }
.carousel__cell:nth-child(4) { transform: rotateY(120deg) translateZ(288px); }
.carousel__cell:nth-child(5) { transform: rotateY(160deg) translateZ(288px); }
.carousel__cell:nth-child(6) { transform: rotateY(200deg) translateZ(288px); }
.carousel__cell:nth-child(7) { transform: rotateY(240deg) translateZ(288px); }
.carousel__cell:nth-child(8) { transform: rotateY(280deg) translateZ(288px); }
.carousel__cell:nth-child(9) { transform: rotateY(320deg) translateZ(288px); }
